/* navbar */
nav{
    /* border-bottom: 2px solid rgb(204, 199, 199); */
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-family:"Source Sans Pro", Arial, sans-serif ;
    color:#3b4045 ;
}
.nav-left{
    padding-left: 4rem;
  
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    justify-content: center;
}
.menu{
    align-items: center;
    z-index: 1;
    transition: 0.5s;
    font-weight: bold;
    font-size: 1.1rem;
    color: rgb(108, 106, 106);
}
.menu li{
    list-style-type: none;
}

.menu li a{
    text-decoration: none;
    display: block;
    line-height: 1;
    transition: 0.3s;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

.hamburger{
    position: relative;
    width: 30px ;
    height: 4px;
    background: #672717;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20;
    transition: 0.3s;
}
.hamburger::before,.hamburger::after{
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #672717;
    border-radius: 10px;
    transition: 0.3s;
    /* z-index: 20; */
}

.hamburger::before{
    top: -10px;
    width: 20px;
}
.hamburger::after{
    top: 10px;
    width: 25px;
}
.toggle-menu{
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 30;
    cursor: pointer;
    opacity: 0;
}

.hamburger,.toggle-menu{
    display: none;
}

.navigation input:checked ~ .hamburger{
    background: transparent;
}
.navigation input:checked ~ .hamburger::before{
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
    background: white;
}
.navigation input:checked ~ .hamburger::after{
    top: 0;
    transform: rotate(45deg);
    width: 30px;
    background:  white;
}

.navigation input:checked ~ .menu{
    right: 2rem;
    /* box-shadow: -20px 0 40px rgba(0, 0, 0, 0.3); */
}
#cnt{
    /* border: 2px solid red; */
    padding: 0.7rem;
    border-radius: 8px;
    background-color: rgb(117, 117, 245);
    color: rgb(246, 245, 245);
}

@media screen and (max-width:1030px) {
    .hamburger,.toggle-menu{
        display: block;
        margin-right: 2rem;
        right: 1rem;
        top: 0.5rem;
    }
    .menu{
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 1.3rem;
        right: -300px;
        color: white;
        border-radius: 0.8rem;
        background: #6d453b;
        /* background: blue; */
        width: 10rem;
        /* height: 100%; */
        padding-top: 65px;
    }
    .menu li{
        width: 100%;
    }
    .menu li a{
        padding: 0.8rem;
    }
    .menu li a:hover{
        box-shadow: 0 -5px 0px #fff inset,500px 0 0 rgba(255, 255, 255, 0.03)inset;
        /* padding: 35px 25px 45px 25px; */
    }
}
@media screen and (max-width:956px) {
    .nav-left{
        padding-left: 6rem;
    }
    .navigation{
        padding: 0;
    }
}

@media screen and (max-width:800px) {
    .nav-left{
        padding-left: 6rem;
    }
}

@media screen and (max-width:842px) {
    .nav-left{
        padding-left: 3rem;
    }
}
/* navbar end */

/* footer start here  */

footer {
    background-color: #fffffb;
    padding: 20px 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}

.footer-column {
    flex: 1;
    min-width: 250px;
    margin: 10px;

}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.footer-column .new {
    background-color: #6c63ff;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 3px;
}

.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    border-top: 1px solid #dee2e6;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 12px;
    color: #6c757d;
}

.social-links {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-links li {
    margin: 0 5px;
}

.social-links li a img {
    width: 20px;
    height: 20px;
}
.stack{
    display: flex;
    /* border: 2px solid blue; */
    justify-content:space-between;
    /* width: 100%; */
}
.footer-container{
    /* border: 2px solid red; */
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
}


.last{
    /* border: 2px solid red; */
    /* margin-left: 6rem; */
    /* text-align: center; */
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        min-width: 100%;
    }
}

/* copyright section  */


.copyright {
    width: 100%;
    border-top: 1px solid black;
    /* border: 2px solid green; */
    display: flex;
    padding: 1.5rem;
    font-family: "Source Sans Pro", Arial, sans-se;
    font-size: 12px;
    margin-bottom: 4rem;
}

.copyright-left {
    width: 30%;
    /* border: 2px solid blue; */
    color: #636b74;
}

.copyright-right {
    width: 70%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: end;
    align-items: center;

    ul {
        /* border: 2px solid blue; */
        width: 90%;
        display: flex;
        justify-content: end;
        justify-content: space-around;
        align-items: end;
        list-style: none;
    }
}

.fnt{
    /* border: 2px solid red; */
    display: flex;
    list-style: none;
    width: 30%;
    justify-content: space-around;
}
.logo-main{
    /* border: 2px solid red; */
    width: 100%;
   display: flex;
   justify-content: center;
   font-family: "Source Sans Pro", Arial, sans-serif;
}
.l-main{
    /* border: 2px solid blue; */
    width:  95%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.logo-left{
    width: 85%;
}
.logo-right{
    /* border: 2px solid green; */
    width: 15%;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    
    /* padding: 5px; */
    a{
        text-decoration: none;
    }
}



